
:root {
  --white-color: #ffffff;
  --pink-color: #f5167e;
  --gray-color: #6a6a6a;
  --purple-color: #242565;
  --blue-color: #3d37f1;
}






/* ============================= hero section ============================== */



.hero {

  justify-content: center;
  align-items: center !important;

}
.hero-content{
    margin-top: 8rem;
}


.hero-content h1 {
  line-height: 1.3;
  font-weight: 300;
}
.hero-content h1 span {
  color: var(--pink-color);
}
.second-spn-header {
  margin-left: 50px;
}

.hero-content p {
  font-weight: 200;
}

.discover-btn {
  background-color: var(--pink-color);
  border-style: none !important;
  font-weight: 600;
  width: 180px;
  height: auto;
  transition: transform 0.2s ease;

}
.discover-btn:hover{
    transform: scale(1.1);
}

/* ===================================== event-section ============================== */

/* ===================================== upcoming event grid  =============================================*/

/* ===================================== own-event-section (Full width) ============================== */

/* ========================== brands section ========================== */

/* ================ blog section  ============================  */


/* ========================== FOOTER ========================== */
